In [ ]:
#Project Template

In [1]:
#Dependancies
import pandas as pd

In [ ]:
#Data Cleaning (Joe and Anthony)

# Joe

In [ ]:
#Cleaning the pollution csv

In [5]:
file = "dataset/cleanpollution2011-2016.csv"

In [6]:
#look at the file
df = pd.read_csv(file)
df.head()

,State,City,Date Local,NO2 Units,NO2 Mean,O3 Units,O3 Mean,SO2 Units,SO2 Mean,CO Units,CO Mean
0,Arizona,Phoenix,2011-01-01,Parts per billion,24.416667,Parts per million,0.014417,Parts per billion,1.708333,Parts per million,0.995833
1,Arizona,Phoenix,2011-01-01,Parts per billion,24.416667,Parts per million,0.014417,Parts per billion,1.708333,Parts per million,0.873684
2,Arizona,Phoenix,2011-01-01,Parts per billion,24.416667,Parts per million,0.014417,Parts per billion,1.675000,Parts per million,0.995833
3,Arizona,Phoenix,2011-01-01,Parts per billion,24.416667,Parts per million,0.014417,Parts per billion,1.675000,Parts per million,0.873684
4,Arizona,Phoenix,2011-01-02,Parts per billion,30.750000,Parts per million,0.007917,Parts per billion,2.291667,Parts per million,1.116667

In [7]:
#Filter the date range I want (2014-2016)
date_df = df.loc[(df['Date Local'] > '2013-12-31')]

date_df.head()

,State,City,Date Local,NO2 Units,NO2 Mean,O3 Units,O3 Mean,SO2 Units,SO2 Mean,CO Units,CO Mean
392030,Alabama,Birmingham,2014-01-01,Parts per billion,16.5125,Parts per million,0.013250,Parts per billion,0.363636,Parts per million,0.204545
392031,Alabama,Birmingham,2014-01-01,Parts per billion,16.5125,Parts per million,0.013250,Parts per billion,0.363636,Parts per million,0.200000
392032,Alabama,Birmingham,2014-01-01,Parts per billion,16.5125,Parts per million,0.013250,Parts per billion,0.242857,Parts per million,0.204545
392033,Alabama,Birmingham,2014-01-01,Parts per billion,16.5125,Parts per million,0.013250,Parts per billion,0.242857,Parts per million,0.200000
392034,Alabama,Birmingham,2014-01-02,Parts per billion,3.6625,Parts per million,0.018458,Parts per billion,-0.009091,Parts per million,0.158824

In [8]:
#Pulling out the states I want
statecities_df = date_df
state_list =['Califorina', 'Texas', 'Florida','New Jersey','Illinois', 'Colorado', 'North Carolina']

In [9]:
#Filtered the States
statecities_df[statecities_df.State.isin(state_list)]

,State,City,Date Local,NO2 Units,NO2 Mean,O3 Units,O3 Mean,SO2 Units,SO2 Mean,CO Units,CO Mean
437840,Colorado,Welby,2014-01-01,Parts per billion,14.608696,Parts per million,0.018792,Parts per billion,0.541667,Parts per million,0.275000
437841,Colorado,Welby,2014-01-01,Parts per billion,14.608696,Parts per million,0.018792,Parts per billion,0.541667,Parts per million,0.263158
437842,Colorado,Welby,2014-01-01,Parts per billion,14.608696,Parts per million,0.018792,Parts per billion,0.525000,Parts per million,0.275000
437843,Colorado,Welby,2014-01-01,Parts per billion,14.608696,Parts per million,0.018792,Parts per billion,0.525000,Parts per million,0.263158
437844,Colorado,Welby,2014-01-02,Parts per billion,37.043478,Parts per million,0.002833,Parts per billion,2.041667,Parts per million,0.633333
...,...,...,...,...,...,...,...,...,...,...,...
673532,Texas,Waco,2016-04-29,Parts per billion,1.325000,Parts per million,0.027125,Parts per billion,0.542857,Parts per million,0.200000
673533,Texas,Waco,2016-04-30,Parts per billion,2.670833,Parts per million,0.030889,Parts per billion,-0.188235,Parts per million,0.129167
673534,Texas,Waco,2016-04-30,Parts per billion,2.670833,Parts per million,0.030889,Parts per billion,-0.188235,Parts per million,0.133333
673535,Texas,Waco,2016-04-30,Parts per billion,2.670833,Parts per million,0.030889,Parts per billion,-0.166667,Parts per million,0.129167
673536,Texas,Waco,2016-04-30,Parts per billion,2.670833,Parts per million,0.030889,Parts per billion,-0.166667,Parts per million,0.133333

In [10]:
#Filtering the Cities
city_list = ['Los Angeles', 'Dallas', 'Winter Park', 'Newark', 'Chicago', 'Denver', 'Charlotte']

In [11]:
statecities_df[statecities_df.City.isin(city_list)]

,State,City,Date Local,NO2 Units,NO2 Mean,O3 Units,O3 Mean,SO2 Units,SO2 Mean,CO Units,CO Mean
415706,California,Los Angeles,2014-01-01,Parts per billion,51.871429,Parts per million,0.010333,Parts per billion,1.004545,Parts per million,1.633333
415707,California,Los Angeles,2014-01-01,Parts per billion,51.871429,Parts per million,0.010333,Parts per billion,1.004545,Parts per million,1.523529
415708,California,Los Angeles,2014-01-01,Parts per billion,51.871429,Parts per million,0.010333,Parts per billion,1.004545,Parts per million,1.376455
415709,California,Los Angeles,2014-01-01,Parts per billion,51.871429,Parts per million,0.010333,Parts per billion,1.004545,Parts per million,1.294444
415710,California,Los Angeles,2014-01-01,Parts per billion,51.871429,Parts per million,0.010333,Parts per billion,0.966667,Parts per million,1.633333
...,...,...,...,...,...,...,...,...,...,...,...
671788,Texas,Dallas,2016-03-30,Parts per billion,5.163636,Parts per million,0.018292,Parts per billion,0.133333,Parts per million,0.191667
671789,Texas,Dallas,2016-03-31,Parts per billion,7.566667,Parts per million,0.031316,Parts per billion,0.133333,Parts per million,0.181500
671790,Texas,Dallas,2016-03-31,Parts per billion,7.566667,Parts per million,0.031316,Parts per billion,0.133333,Parts per million,0.195833
671791,Texas,Dallas,2016-03-31,Parts per billion,7.566667,Parts per million,0.031316,Parts per billion,0.112500,Parts per million,0.181500
671792,Texas,Dallas,2016-03-31,Parts per billion,7.566667,Parts per million,0.031316,Parts per billion,0.112500,Parts per million,0.195833

In [ ]:
#remove duplicate readings as the data summary nevere clears up why

In [12]:
cleanstatecities_df = statecities_df.groupby(['State','Date Local']).mean()

cleanstatecities_df.head (25)

                     NO2 Mean   O3 Mean  SO2 Mean   CO Mean
State   Date Local
Alabama 2014-01-01  16.512500  0.013250  0.303246  0.202273
        2014-01-02   3.662500  0.018458 -0.004546  0.151287
        2014-01-03   1.725000  0.019708  0.815000  0.165720
        2014-01-06   4.872727  0.028583  0.039166  0.021666
        2014-01-07  12.762500  0.014792  0.246753  0.229735
        2014-01-08  58.581818  0.004588  3.437500  0.696896
        2014-02-18   7.693333  0.016375  1.007500  0.212753
        2014-02-19  12.175000  0.013750  0.457500  0.184053
        2014-02-20   4.875000  0.019125  0.285714  0.123030
        2014-02-21  10.183333  0.018625  0.547078  0.192500
        2014-02-22  16.070833  0.016875  2.362338  0.372689
        2014-02-23  18.908333  0.018375  2.754221  0.349849
        2014-02-24   6.770833  0.021292  1.121666  0.166222
        2014-02-25  17.004762  0.016417  3.629220  0.206478
        2014-02-26   4.595833  0.024750  0.693182  0.168309
        2014-02-27   6.120000  0.019333  0.560715  0.306191
        2014-02-28   7.580000  0.017250  4.116667  0.391363
        2014-03-03   3.485714  0.028824  0.000000  0.104117
        2014-03-04  11.190909  0.012458  0.490556  0.218788
        2014-03-05   8.475000  0.002800  0.611667  0.336643
        2014-03-06   8.662500  0.020938 -0.010715  0.177460
        2014-03-07  13.394118  0.015167  1.047078  0.251629
        2014-03-08  17.566667  0.013708  0.783766  0.460379
        2014-03-09  12.908333  0.019208 -0.034740  0.296856
        2014-03-10  17.087500  0.014375  0.287500  0.303167

In [13]:
cleanstatecities_df.to_csv("dataset/cleanpollution14-2016.csv",
                  encoding="utf-8", index=False, header=True)

In [ ]:
#Charts (Simmy)

In [ ]:
#Regression (Simmy/Nate)

In [ ]:
#Hypothesis Testing (Nate)